
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


  <footer class="sec-1">
    <div class="col">
      <h3> medcare</h3>
      <h4>Contact</h4>
      <P><strong>Address:</strong>45 Park Road, Erode </P>
      <p> <strong>Phone: </strong>9865451374 9080555646</p>
      <P><strong>Hours:</strong> 9:00 am - 7:00 pm, Mon to Sat</P>
      <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>

     <div class="col">
      <h3> About</h3>
      <a href="/home">Home</a>
      <a href="/product">Product</a>
      <a href="/contact">Contact us</a>
      <a href="#">Logout</a>
    </div>

    <div class="col">
      <h3> My Account</h3>
      <a routerLink="/accountdetail">Acc Info</a>
      <a routerLink="/accountdetail"> View cart</a>
      <a routerLink="/accountdetail">Address</a>
      <a routerLink="/accountdetail">My Prescription</a>
    </div>

    <div class="col-payment">
      <h3>Payment</h3>
      <p>Secured payment gateways</p>
      <img [src] ="environment.imageFooterPay" id="pay-logo" />
    </div>

    <div class="copy">
      <p> &copy; 2022 | All rights received</p>
    </div>
  </footer>
