 body {
  background-color: rgb(255, 255, 255);
}

/* ************************************home************* */
*{
  padding: 0;
  margin: 0;
}
.home{
   display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}


.home .home_img{
   flex:1 1 40rem;
}

.home .home_img img{
  width:100%;
}

.home .home_content{
  flex:1 1 40rem;
}

.home .home_content span{
  font-size: 3rem;
  color:#0640a3;
}

.home .home_content h3{
  font-size: 3.5rem;
  color:#1e91de;
}

 .link{
  display: inline-block;
  margin-top: 0.5rem;
  background: #090;
  color:#fff;
  padding:.5rem 1rem;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.banner-container{
  display:flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height: 25rem;
  overflow:hidden;
  position:relative;
  margin:20px;

}

.banner-container .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.banner-container .banner .content{
  position:absolute;
  top:50%;
  left:4%;
  transform: translateY(-50%);
}

.banner-container .banner content h3{
  font-size: 3rem;
  color:#1e91de;
}

.banner-container .banner content p{
  font-size: 2rem;
  color:#0640a3
}

.banner-container .banner:hover img{
transform: scale(1.2) rotate(-5deg);
}


.about-container h3{
  font-size: 1.5rem;
  margin: 8px;
  padding: 0;
  color: #090;
}

.about-container p{
  font-size: 1.1rem;
  margin: 8px;
  text-align: justify;
}

.slider_img{
  width:100%;
  height:fit-content;
}

/* review */
.review-section{
  padding:40px 0;
  background: #f1f1f1;
  color:#434343;
  text-align: center;
}

.inner{
  max-width: 1200px;
  margin:auto;
  overflow:hidden;
  padding: 0 20px;
}

.border{
 width:160px;
 height: 5px;
 background: #6ab04c;
 margin: 26px auto;
}

.row-review{
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
}

.col-review{
  flex:33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding:15px;
}

.reviews{
  background: #fff;
  padding:30px;
}

.reviews img{
 width:100px;
 height:100px;
 border-radius: 50%;
}

.reviewer-name{
 font-size:20px;
 text-transform: uppercase;
 margin:20px 0;

}

.stars-reviewer{
  color:#6ab04c;
  margin-bottom: 20px;
}


/* rating */
.star-rating {
  font-size: 30px;
}

.star {
  cursor: pointer;
  color: gray;
  transition: color 0.3s ease;
}

.star.active {
  color: orange;
}

.feedback {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.feedback-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}


/* contact */

.contact-section{
  margin-top: 40px;
}

.contact-bg {

  height: 25vh;
  background:linear-gradient(100deg,  rgb(72, 126, 117),  rgb(22,160,133));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color:rgb(4, 4, 4);
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3 rem;
  font-weight: 400;
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.line div {
    margin: 0 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height:3px;
  width: 70px;
  background:rgb(10, 10, 10);
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: rgb(7, 7, 7);
  border-radius: 50%;
}

.text {
  font-weight: 300;
  opacity: 0.9;
}

.contact-bg .text {
  margin: 1.6rem 0;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: rgb(22,160,133);
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.4rem;
}

.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}

.contact-form form {
  padding-bottom: 1rem;
}

.form-control {
  width: 100%;
  border: 1.5px solid #54c7f0;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'open sans, sans-serif';
  font-size: 1rem;
  outline: 0;
}

.form-control:focus {
  box-shadow: 0 0 10px 5px rgb(125, 181, 227);
}

.contact-form form div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}

.send-btn {
  font-family: 'open sans, sans-serif';
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: crimson;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.send-btn:hover {
  opacity: 0.8;
}

.contact-form {
  display: flex;
}
.contact-form  div img {
   width: 85%;
}

.contact-form  div {
  margin: 0 auto;
  text-align: center;
}

.contact-footer {
  padding: 2rem 0;
  background: #000;
}

.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.soacial-links{
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.soacial-links a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
}
.soacial-links a:hover {
  color:#3da53f;
}

#header a{
  text-decoration: none;
}

.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}

.contact-form form {
  padding-bottom: 1rem;
}

.form-control {
  width: 90%;
  border: 1.5px solid #54c7f0;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'open sans, sans-serif';
  font-size: 1rem;
  outline: 0;
}

.form-control:focus {
  box-shadow: 0 0 10px 5px rgb(125, 181, 227);
}

.contact-form form div{
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}

.send-btn {

  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: crimson;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.send-btn:hover {
  opacity: 0.8;
}

.contact-form {
  display: flex;
}
.contact-form  div img {
   width: 85%;
}

.contact-form  div {
  margin: 0 auto;
  text-align: center;
}

.contact-form input{
  margin-bottom: 20px;
}

.error{
  color: red;
  position: absolute;
  margin-top: 55px;
  margin-left: -230px;
}

.error p{
  color:white;
  position: absolute;
   margin-left: 36px;
}

@media (max-width: 480px) {

.reviews{
  width:300px;
  background: #fff;
  padding:30px;
}

  .row-review{
    display:block;
    justify-content: center;
    padding: 5px;
   }
  .col-review{
    width:200px;
    box-sizing: border-box;
    padding:15px;
  }

  textarea {
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 16px;
  }

  .row-review{
    display:block;
    justify-content: center;
   }

   .contact-info {
    text-align: center;
    padding: 2rem 0;
    display: block;
    justify-content: space-between;
  }

  .contact-form {
    border-top: 1px solid #c7c7c7;
    display: block;
  }

  .send-btn {
    font-family: 'open sans, sans-serif';
    font-size: 1rem;
    margin-left: 40%;
    text-transform: uppercase;
    color: #fff;
    background: crimson;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .about-container h3{
    font-size: 1.5rem;
    margin: 5px;
    padding: 3px;
    color: #090;
  }

  }
