
body{
  display:flex;
  gap: 50px;
  height: 100vh;
  width:100vw;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}

.reg-img img{
  width:500px;
  height:500px;
  margin: 0;
}

.register_container{
  max-width: 1000px;
  width:900px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin-right: 10px;

}
.register_container .title{
  font-size: 30px;
  font-weight: 500;
}
.register_container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
  border: 1px solid #5b7396;
   padding-left: 15px;
   margin-bottom: 5px;
   font-size: 18px;
   border-bottom-width: 2px;
   transition: all 0.3s ease-in-out;
}

.user-details .gender-box {
  height: auto;
  width: 100%;
  outline: none;
  border-radius: 5px;
  /* border: 1px solid #5b7396; */
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  border-bottom-width: 2px;
  transition: all 0.3s ease-in-out;
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.types{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
/* .types label:hover{
  background-color: #1e91de;
  padding: 5px 20px;
  border-radius: 2px;
} */
form .button{
  height:45px;
  width:100%;
  margin: 10px 0;
}
form .button button{
   height: 100%;
   width: 100%;
   outline: none;
   font-weight: 500;
   outline: none;
   font-size: 20px;
   letter-spacing: 1px;
   border-radius: 8px;
   background: #34d77b;
   border-color: #34d77b;
}
.login h4 a{
      text-decoration: none;
      color:  #1e91de;
      cursor: pointer;
}
.login h4{
    text-align: center;
}


#uname-error, #num-error, #pass1-error, #pass2-error {
  color:red;
  font-size: 16px;
}

.gap{
  position: relative;
}
.error{
  color: red;
  position: absolute;
  margin-top: 75px;
  margin-left: -450px;
}

.error p{
  color:white;
  position: absolute;
   margin-left: 36px;
}

input.ng-invalid{border:3px solid red;}
input.ng-valid{border:3px solid green; }

.showPassword input{
  width:15px;
  height:15px;
  margin-top: 5px;
}

@media (max-width: 480px) {

  body{
    display:block;
    gap: 50px;
    height: 100%;
    width:100%;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
  }

  .reg-img img{
    width:400px;
    height:300px;
    margin: 0;
  }

  .register_container form .user-details{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  .register_container{
    width:420px;
    background: #7ea3ed;
    padding: 25px;
    border-radius: 8px;
    margin: 10px;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    margin-left: 15px;
    width: calc(100% - 60px);
  }
  .user-details .input-box input{
     height: 45px;
     width: 100%;
     outline: none;
     border-radius: 5px;
    border: 1px solid #5b7396;
     padding-left: 15px;
     margin-bottom: 5px;
     font-size: 18px;
     border-bottom-width: 2px;
     transition: all 0.3s ease-in-out;
  }

  .user-details .gender-box {
    height: auto;
    width: 90%;
    outline: none;
    border-radius: 5px;
    /* border: 1px solid #5b7396; */
    padding-top: 10px;
    padding-left: 15px;
    font-size: 18px;
    border-bottom-width: 2px;
    transition: all 0.3s ease-in-out;
  }
  .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  form .button{
    height:45px;
    width:80%;
    margin: 10px 10px;
  }

  form .button button{
     height: 100%;
     width: 100%;
     outline: none;
     font-weight: 500;
     outline: none;
     font-size: 20px;
     letter-spacing: 1px;
     border-radius: 8px;
     background: #34d77b;
     border-color: #34d77b;
  }

}
