
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->

<app-sidebar></app-sidebar>


<div class="heading">
  <span>&#9776; Dashboard</span>
</div>

<div class="admin-img">
  <img src="../../assets/images/20944961.jpg">
</div>
<div class="main">

  <div class="info-container">
    <div class="box">
      <p>{{userLen}}<br /><span>Customers</span></p>
      <i class="fa fa-users box-icon"></i>
    </div>
  </div>
  <div class="info-container">
    <div class="box">
      <p>{{productLen}}<br /><span>Products</span></p>
      <i class="fa fa-list box-icon"></i>
    </div>
  </div>
  <div class="info-container">
    <div class="box">
      <p>3<br /><span>Orders</span></p>
      <i class="fa fa-shopping-bag box-icon"></i>
    </div>
  </div>

  <br /><br />


