<app-sidebar></app-sidebar>
<body>

  <div class="heading">
    <span>&#9776; Dashboard</span>
  </div>

 <div id="main">

   <div class="limited-offer">
     <div class="offer-img">
      <img src="../../assets/images/limited offer banner (1).PNG">
     </div>
     <div class="offer-set">
      <div class="offer-header">
        <h2>Announce New Offer</h2>
      </div>

        <div class="main">
          <form name="form" >
            <span>
              <h4>Offer name</h4>
              <input id="user_email" type="text" name="usernamillogin" formControlName="userId"  />
            </span><br>

            <span>
              <h4>Starts From</h4>
              <input id="user_email" type="date" name="usernamillogin" formControlName="userId"  />
            </span><br>

            <span>
              <h4>Ends In</h4>
              <input id="password" type="date" name="userloginpass"/>
            </span><br>

            <span>
              <h4>Discount %</h4>
              <input id="discount" type="number"  name="userloginpass"/>
            </span><br>

            <button type="submit">Set Offer</button>

          </form>

     </div>
   </div>

</div>
    <div class="clearfix"></div>
