body{
	margin:0px;
	padding: 0px;
	background-color:#e0dada9f;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.sidenav {
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 35px 8px 35px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #d7cdcd;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 460px;
}

.head{
	padding:20px;
}
.header{
	width: 50px;
  margin-left: 450px;
}
.heading{
  margin: 30px 0px 30px 450px;

}

.heading span{
  font-size: 30px;
   cursor: pointer;
   color: rgb(20, 19, 80)
}

.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: #1b203d;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #1b203d;
}
.info-container{
	width: 350px;
  margin-bottom: 10px;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #272c4a;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #f0ecec;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #ce2929;
    padding-right: 10px;
}
.customer-container{
	width: 70%;
	float: left;
  margin-bottom: 10px;
}
.container-products{
	width: 100%;
}
.container-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
  font-size: 20px;
  color: #f7403b;
}

.content-box ul{
  color:#fff;
  list-style-type: none;
  font-size: 22px;
}

.content-box ul li{
 padding: 7px;
 margin: 0%;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #272c4a;
	height: 100%;
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}


/* offer */

.limited-offer{
  display: flex;
}

.offer-img img{
 width: 450px;
 height: 600px;
}

.offer-set {
  width: 380px;
  height: 580px;
  margin-top: 2%;
  margin-left: 90px;
  border-radius: 25px;
  background-color:  #006ee9;
}

.main input, button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  margin-left: 20px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
}

.main button {
  padding-left: 0;
  background-color: #ff3131;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(239, 240, 241);
}

.main button:hover{
  box-shadow: 1px 1px 1px 3px rgb(235, 233, 233);
  background-color: #ff3131;
}

.main input:hover{
  box-shadow: 1px 1px 1px 3px rgba(224, 223, 221, 0.937);
  background-color: rgb(248, 246, 246);
}

.main span{
  position: relative;
  left: 10px;
}

.main span h4{
 color:#d7cdcd;
 margin: 5px;
}

.offer-header{
  text-align: center;
  padding-top:10px;
}

.offer-header h2{
  color: rgb(243, 145, 26);
  font-size: 25px;
  margin-bottom: 20px;
}


