* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*  */
:root {
  --black-color: #11101d;
  --white-color: #fff;
  --sky-color: #e4e9f7;
  --light-black: #1d1b31;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*  */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background:#272c4a;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 300px;
}

/* log */
.sidebar .logo_content .logo {
  color:  #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
  color:#f7403b;

}

.sidebar #btn {
  position: absolute;
  color:  #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5px 0;
  list-style: none;
  line-height: 50px;
  padding-bottom: 60px;
}


.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search {
  position: relative;
  z-index: 99;
  color:  #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;

}

.sidebar ul li a:hover {
  color:#11101d;
  background:  #fff;
}

.sidebar ul li i {
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  min-width: 60px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .admin-img{
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar.active  .admin-img{
  opacity: 1;
  transition: all 0.3s ease;
}

.sidebar .links_name {
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  pointer-events: auto;
  transition: 0s;
}

.sidebar.active .links_name {
  transition: 0s;
  opacity: 1;
  pointer-events: auto;
}
