
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<body>
<div class="img">
  <img [src] = "environment.imageForgotPage">
</div>
<div class="forgot-container">
  <h2><i class="fa-sharp fa-solid fa-circle-exclamation"></i></h2>
  <div class="forgot-title"><h3>Forgot Password</h3></div>
  <form id="forgot-form">
      <span><i class="fa-solid fa-envelope"></i><input type="email" placeholder="Enter the Email id" [(ngModel)]="email" required=""></span>
      <div>
      <button (click)="send()">Send Link<i class="fa-solid fa-paper-plane"></i></button></div>
      <h3><a routerLink="/main"> < Back to Login </a></h3>

  </form>
</div>
</body>
