.blog-article{
  width:100%;
  height:100%;
}
.full-blog{
  width:80%;
  height:100%;
  margin: 3% 10% 3% 10%;
  background-color: rgb(236, 248, 248);
}

.full-blog img{
  width: 90%;
  height: 450px;
  padding: 20px 0px 10px 55px;
}

.full-blog .details{
  padding:10px;
}

.full-blog .details h2{
  font-size: 30px;
  text-align: center;
  padding: 5px;
}
.full-blog .details p{
  text-align: justify;
  font-size: 24px;
  padding:8px;
}
