.payment-two-columns{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.paymentBox {
  border: 2px solid var(--btns-background);
  width: max-content;
  height: max-content;
  padding: 1.2rem 2rem;
  margin: 2rem 0;
  border-radius: 2rem;
  background-color: rgb(102, 161, 228);
}

.paymentBox .paymentHeader{
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.paymentSection {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  background-color: rgb(245, 247, 247);
}

.cardInfo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cardInfo input, select {
  width: 14rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.2rem 1rem;
  border: 2px solid var(--btns-background);
}

.form_fields{
  margin: 0.8rem 0;
}

.cardInfo label{
  margin: 0 1rem;
}

.paymentSection .button-back button {
  margin: 0 1rem;
  background-color: rgb(233, 51, 57);
  border:none;
  outline:none;
  width:80px;
  height:45px;
}

.paymentSection .button-pay button{
  margin: 0 1rem;
  background-color: chartreuse;
  border:none;
  outline:none;
  width:80px;
  height:45px;
}


.paymentButton-two-columns {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

form .form_fields {
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  width: 100%;
  outline: none;
  font-size: 0.8rem;
  padding: 0.5rem;
}

form option{
  font-size: 1.2rem;
}

.errorMessage{
  position: relative;
  color: #Ff0000;
}

#errorMessageDiv{
  display: flex;
  justify-content: center;
}

#errorMessageDiv p{
  color: #Ff0000;
}


/* PAYMENT SUCCESSFUL MESSAGE */

.paymentModal {
  width: 100%;
  height: 100%;
  margin: auto;
  background:none;
  border: none;
}

.paymentModal::backdrop{
  background-color: black;
  opacity: 0.9;
}

.successMessage {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.successMessage .modalBox {
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--btns-background);
  margin: 4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.successMessage .modalBox h2 {
  margin: 1.5rem;
  font-size: 900;
}

.successMessage .button {
  margin: 0;
  color: var(--white);
  font-weight: 900;
}


/* credit card design */
.card{
  width:390px;
  height: auto;
  background-image: linear-gradient(to right top, #60cbeb, #8ed9a4, #c0e17e);
 }


 .card .first img{
 width:45px;
 height: 30px;
 margin:15px 15px 0 15px;
 }

 .card-infos{
   display:flex;
 }

 .cvv{
  margin-left: 70%;
 }

 /* .chip{
  display: flex;
  position: flex-end;
 } */

 .right-container .card .first .card-digits h2{
  padding-left: 15px;
  font-size: 22px;
  text-align: center;
 }

 .right-container .card .first .card-holder{
   margin-left: 5px;
   padding: 10px;
 }


 .right-container .card .first .card-infos{
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
 }

 .right-container .card .first .card-infos .exp p, .right-container .card .first .card-infos .cvv p{
  margin:0;
 }

 .right-container .card .first .chip img{
   width:70px;
   height:50px;
   margin: 0 0 0%;
 }

.card-head{
  display:flex;
  margin-bottom: 25px;
}

.card-head h2{
  width:45px;
 height: 30px;
 margin:15px 15px 0 220px;
}


/* trying print */
.content-box p{
	margin: 0px;
  font-size: 20px;
  color: #f7403b;
}

.content-box{
	padding: 20px;
}

.box-8 {
	width: 70%;
  margin-left: 200px;
	background-color: #272c4a;
	height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
