
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<div class="paymentSection">

  <div class="right-container">
    <div class="card">
      <div class="first">
        <div class="card-head">
          <div><img [src] ="environment.imagePaymentNfc"></div>
          <div>
          <h2>Visa</h2></div>
      </div>
          <div class="card-digits">
              <h2>{{cardNumber}}</h2>
          </div>

          <div class="chip">
            <img [src] ="environment.imagePaymentChip">
          </div>

          <div class="card-infos">
              <div class="exp">
                   <label>Valid thiru</label>
                    <p> {{expDate}}</p>
              </div>

              <div class="cvv">
                <label>CVV</label>
                <p>{{cvv}}</p>
              </div>
          </div>

          <div class="card-holder">
            <label>Holder</label>
            <h4>Gautam</h4>
          </div>

      </div>
    </div>
  </div>
  <div class="payments">
      <div class="paymentBox">
          <div class="paymentHeader">
              <h2> Payment </h2>
          </div>
          <div>
              <form [formGroup]="payment"  class="cardInfo" (ngSubmit)="update()">
                  <div class="payment-two-columns">
                      <div class="form_fields">
                          <label for="accountNumber"> Card Number </label>
                          <input type="tel" maxlength="16" name="accountNumber" formControlName="accountNumber" minlength="16"
                              maxlength="16" placeholder="XXXX XXXX XXXX XXXX" [(ngModel)]="cardNumber" required>

                          <div class="errorMessage"
                              *ngIf="payment.controls['accountNumber'].invalid && (payment.controls['accountNumber'].touched||payment.controls['accountNumber'].dirty)">
                              <p *ngIf="payment.controls['accountNumber'].errors?.['required']">This is a required
                                  field</p>
                              <p *ngIf="payment.controls['accountNumber'].errors?.['pattern']">Enter Only Digits</p>
                              <p *ngIf="payment.controls['accountNumber'].errors?.['minlength']">Please
                                  Enter 16 Digits Number</p>
                          </div>
                      </div>
                      <div class="form_fields">
                          <label for="cardType"> Card Type </label>
                          <select name="cardType" formControlName="cardType">
                              <option>Debit Card</option>
                              <option>Credit Card</option>
                          </select>
                          <div class="errorMessage"
                              *ngIf="payment.controls['cardType'].invalid && (payment.controls['cardType'].touched||payment.controls['cardType'].dirty)">
                              <p *ngIf="payment.controls['cardType'].errors?.['required']">This is a required
                                  field</p>
                          </div>
                      </div>
                      <div class="form_fields">
                          <label for="expiry"> Expiry Date </label>
                          <input type="month" name="expiry"  formControlName="expiry" placeholder="MM/YYYY" required [(ngModel)]="expDate" required>
                          <div class="errorMessage"
                              *ngIf="payment.controls['expiry'].invalid && (payment.controls['expiry'].touched||payment.controls['expiry'].dirty)">
                              <p *ngIf="payment.controls['expiry'].errors?.['required']">This is a required
                                  field</p>
                          </div>
                      </div>
                      <div class="form_fields">
                          <label for="cvv"> CVV </label>
                          <input type="tel" name="cvv" formControlName="cvv" placeholder="XXX" minlength="3"
                              maxlength="3" required [(ngModel)]="cvv">

                          <div class="errorMessage"
                              *ngIf="payment.controls['cvv'].invalid && (payment.controls['cvv'].touched||payment.controls['cvv'].dirty)">
                              <p *ngIf="payment.controls['cvv'].errors?.['required']">This is a required
                                  field</p>
                              <p *ngIf="payment.controls['cvv'].errors?.['pattern']">Enter Only Digits</p>
                              <p *ngIf="payment.controls['cvv'].errors?.['minlength']">Please
                                  Enter 3 Digits Number</p>
                          </div>
                      </div>
                  </div>
                  <div id="errorMessageDiv">
                      <p id="errorMessage"></p>
                  </div>

                  <div class="paymentButton-two-columns">
                      <div class="button-back">
                          <button routerLink="/cart" id="proceedPayment" class="btn"><i
                                  class="fa-solid fa-arrow-left"></i>
                             < Back</button>
                      </div>

                      <div class="button-pay">
                          <button  id="payNowBtn" class="btn"> Pay
                              {{paymentAmount|currency:'INR'}} </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

<!-- trying print -->
<div class="box-8">
  <div class="content-box"  >

    <p>Invoice</p>

    <table class="table">
      <thead>
        <tr><th colspan="6">Medcare</th></tr>
        <tr>
          <th>Order Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Images</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let pro of products">
          <td>56563</td>
          <td>{{pro.title}}</td>
          <td>{{pro.description}}</td>
          <td><img src="../../assets/images/{{pro.description}}.jpg" style="width: 40px; height: 45px;"></td>
          <td>{{pro.originalAmount}}</td>


      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total :</td>
        <td>4500</td>
       </tr>
      </tbody>
    </table>

</div>
</div>

</div>

<!-- Payment Success Popup  -->

<dialog class="paymentModal">
  <div class="successMessage">
      <div class="modalBox">
          <i class="fa-solid fa-circle-check fa-4x" style="color: green;"></i>
          <h2>Payment Successful</h2>
          <h5>Order Placed Successfully</h5>
          <div class="button">
              <button id="donePayment" class="btn" routerLink="/product"> Okay </button>
          </div>
      </div>
  </div>
</dialog>


