
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


  <body>
    <div class="pro-container">
        <div class="img">
            <img [src] ="environment.imageLoginmain">
        </div>
    <div class="container">

        <div class="header">
          <a routerLink="">< Back</a>
            <h1>Login</h1>
        </div>
        <div class="main">
          <form name="form"   [formGroup] = "loginForm" (ngSubmit)="login()">
            <span>
              <i class="fa-solid fa-envelope"></i>
              <input id="user_email" type="text" placeholder="Enter your Email" name="usernamillogin" formControlName="userId"
              pattern="^[0-9a-z]+[._]{0,1}[0-9a-z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$"
              pattern2="^[AI][0-9]{4}$"
               />
               <div class="errors" *ngIf="loginForm.controls['userId'].dirty">
                <p *ngIf="loginForm.controls['userId'].errors?.['required']">
                  Enter the field
                </p>
                <p *ngIf="loginForm.controls['userId'].errors?.['pattern'] || loginForm.controls['userId'].errors?.['pattern2'] ">
                  Enter valid Email id
                </p>
              </div>
            </span><br>
            <span>
              <i class="fa-solid fa-lock"></i>
              <input id="password" type="{{ show ? 'text' : 'password' }}" placeholder="Enter your Password" name="userloginpass"
              formControlName="password"
              pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,14}$" />

                <!-- <input type="checkbox" onclick="showPassword()">Show Password -->
            <div class="errors" *ngIf="loginForm.controls['password'].dirty">
              <p *ngIf="loginForm.controls['password'].errors?.['required']">
                Enter the field
              </p>
              <p *ngIf="loginForm.controls['password'].errors?.['pattern']">
                Enter valid password
              </p>
            </div>

            </span><br>
            <div class="showPassword">
              <input type="checkbox" (change)="visiblePassword()" >
              <label style="color: #233863;"> Show Password</label>
            </div>
            <button type="submit">Login</button>
            <!-- (click)="login(loginusers, loginpass)" -->
          </form>
            <div class="change-password">
                <h3><a routerLink="/forgot">Forgot password</a></h3>
            </div>
            <div class="register">
                <h3>I don't have account <a routerLink="/registration">Register</a></h3>
            </div>
        </div>
    </div>
  </div>
  </body>
