
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->

<app-navbar></app-navbar>

<body>
  <!-- --------------------------------------------------------------common profile nav bar------------------------------------------- -->
  <header>
       <div class="user">
            <img src = "../../assets/images/userProfile1.webp" alt="">
            <h3 class="name"> {{logInUser.username|json}}</h3>
            <h3>{{dat}}</h3>
            <p class="post">User</p>
       </div>

       <nav class="profile_sidebar">
        <ul>
         <li><a routerLink="details">Account Details </a></li>
         <li><a routerLink="wishlist">My Wishlist</a></li>
         <li><a routerLink="prescription">Orders</a></li>
         <li><a routerLink="address">Notification</a></li>
         <li><a routerLink="">Logout</a></li>
        </ul>
       </nav>
</header>

<!-- -----------------------------------------------------------profile menus------------------------------------------------------------- -->

<router-outlet></router-outlet>

</body>
